@{
    ViewData["Title"] = "SQL Test";
}

<div class="text-center">
    <h1 class="display-4">SQL Test</h1>
    <p>@ViewBag.Message</p>
    <p>@ViewBag.Message2</p>
    <p>@ViewBag.Message3</p>
</div>
